.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

#wrapper {

    margin-top: 2%;
    margin-left: 2%;
    float: left;
    width: 100%;
    max-width: 1000px;
}

#race-select {
    float: right;
}
#race-box {
    padding: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: lightgray;

}

#guild-box {
    padding: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: lightgray;
    max-height: 400px;
    overflow-x: hidden;

}

.guild-label {
    width: 180px;
    float: left;
}
#guild-box ul
{
    list-style-type: none;
}

#subguild-area {
    margin-left: 30px;
}


#race-stat-table td {
    width: 150px;

}