.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

#wrapper {

    margin-top: 20px;
    margin-left: 20px;
    float: left;
    width: 700px;
}

#total {
    padding: 5px;
    margin-top: 60px;
    width: 300px;
    margin-left: 2%;
    border-style: solid;
    border-width: 1px;
    border-color: lightgray;
    float: left;

}

#race-select {
    float: right;
}

#race-box {
    padding: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: lightgray;

}

#guild-box, .ability-box, #stats-box {
    padding: 5px;
    margin: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: lightgray;
    max-height: 400px;
    overflow-x: hidden;

}

.ability-box input {
    float: left;
    width: 50px;

}

.stat-input {
    width: 50px;
}

.ability-box .ability-max {
    margin-right: 20px;
    min-width: 50px;
}

#wish-table {
    padding: 5px;
    margin: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: lightgray;

}

#wish-table .label-col {
    width: 200px;
}

#wish-table .input-col {
    width: 50px;
}

.max-ability-button button {

}

.guild-label, .ability-label {
    width: 250px;
    float: left;
}

.guild-input {
    width: 70px;
}

.stat-label {
    float: left;
    width: 150px;
}

ul {
    list-style: none;
}

#subguild-area {
    margin-left: 30px;
}

#race-stat-table td {
    width: 150px;

}